{% extends 'common.html' %}
{% block anisha %}
    <form action="{% url 'save_stu' %}" method="post">
    {% csrf_token %}
    <table align="center" border="2">
    <tr>
        <th class="stu_info">Name</th>
        <th class="stu_info">Contactno</th>
        <th class="stu_info">Email</th>
        <th class="stu_info">Course</th>
    </tr>

     {% for x in data %}
         <tr>
             <th class="stu_info">{{ x.name }}</th>
             <th class="stu_info">{{ x.contactno }}</th>
             <th class="stu_info">{{ x.mailid }}</th>
             <th class="stu_inf">{{ x.courses }}</th>

    </tr>
    {% endfor %}

    </table>
    </form>
{% endblock %}