<html>
<head>
    <style>
        #stu_title{
                      text-align: center;
                      background-color: yellow;
                      color: crimson;
                      padding: 5px;
                      font-family: "Arial Black";
                      font-size: 20px;
                      width: 100px;
        }
        .title_stu
                {

        }
    </style>
    <table align="center" border="0">
        <tr>
            <th id="stu_title">Student Page</th>
        </tr>
        <tr>
            <th class="title_stu">Register</th>
            <th class="title_stu">Login</th>
            <th class="title_stu">Search</th>
            <th class="title_stu">Contact Us</th>
        </tr>
    </table>
</head>
</html>